|
a(href="www.google.cl", class="link") Google 
|
|
a.link#idlink(href="www.facebook.com") Facebook
input(type="text"
                , name="hola"
                , value="Hector"
                , placeholder="Ej: Hector"
                )

//atributos unescaped
div(unescaped!="<pre>")      