doctype html
html(lang="es")
    head    
        title Ejemplo PUG 
        link(rel="stylesheet", href="main.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body    
        h1 PUG
        //comentarios
        include comentarios.pug
        //Atributos en PUG
        include atributos.pug    
        //Iteracion
        include iteracion.pug
        //mixin    
        include mixin.pug
        +list
        
        ul
            +persona("Lupa")
            +persona("Carla")
            +persona("Emilia")
            +persona("Vicente")
            +persona("Hector")